*{
  font-family:Arial, sans-serif;
}

body
{
  margin: 0;
  padding: 0;
}
.top
{
  max-width: 100%;
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.background
{
height: 69.8vh;
max-width:100%; 
background-color: rgb(30,30,110);
justify-content: center;
align-items: center;
color:white;
}
.user_question
{
  padding: 30px; /* Adjust this value to match the desired padding */
  margin: 20px auto; /* Center the elements horizontally */
  max-width: 100%; /* Set a maximum width */
  box-sizing: border-box; /* Include padding and border in the element's total width */
  background-color: rgb(100, 100, 200);
}

.respond
{
  padding: 30px; /* Adjust this value to match the desired padding */
  margin: 20px auto; /* Center the elements horizontally */
  max-width: 100%; /* Set a maximum width */
  box-sizing: border-box; /* Include padding and border in the element's total width */
  background-color: rgb(100, 100, 200);
}

.text_box {
  position: relative;
  background-color: #d1bbbb;
  padding: 35.9px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  font-size: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 100%;
  color:black;
  background-color: rgb(255, 251, 251);
  font-size: 20px;
  border: none;
  border-radius: 5px;
  padding: 12px 15px;
}

input:focus {
  outline: none;
}

#submit {
  position: absolute;
  top: 50px;
  right: 30px; /* Adjust this value to control the distance from the right side */
  cursor: pointer;
}
